[Unit]
Description=Foundry VTT
After=network.target

[Service]
Type=simple
User=crpalmer
ExecStart=/usr/bin/node /home/crpalmer/foundry/foundry-vtt/main.js --dataPath=/home/crpalmer/foundry/james-data
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
