[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
User=crpalmer
WorkingDirectory=/home/crpalmer/minecraft-server
ExecStart=/bin/sh -c "LD_LIBRARY_PATH=. ./bedrock_server"
Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
